flask
gunicorn
torch>=1.10.0
torchvision
opencv-python
numpy
werkzeug
pyyaml==5.1
Pillow
termcolor
matplotlib
fvcore
iopath
tqdm
yacs
cloudpickle
detectron2 @ git+https://github.com/facebookresearch/detectron2.git

